In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('shop data.csv')
df.head()

     age  income  gender m_status buys
0    <25    high    male   single   no
1    <25    high    male  married   no
2  25-35    high    male   single  yes
3    >35  medium    male   single  yes
4    >35     low  female   single  yes

In [5]:
x = df.iloc[:,:-1]
x.head()

     age  income  gender m_status
0    <25    high    male   single
1    <25    high    male  married
2  25-35    high    male   single
3    >35  medium    male   single
4    >35     low  female   single

In [6]:
y = df.iloc[:,4]
y

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
14     no
Name: buys, dtype: object

In [7]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le_x = LabelEncoder()

In [12]:
x = x.apply(LabelEncoder().fit_transform)
x

    age  income  gender  m_status
0     1       0       1         1
1     1       0       1         0
2     0       0       1         1
3     2       2       1         1
4     2       1       0         1
5     2       1       0         1
6     0       1       0         0
7     1       2       1         0
8     1       1       0         1
9     2       2       0         0
10    1       2       0         1
11    0       2       1         0
12    0       0       0         1
13    2       2       1         0
14    1       0       1         1

In [15]:
from sklearn.tree import DecisionTreeClassifier

In [17]:
import numpy as np

In [18]:
dtf = DecisionTreeClassifier()

In [19]:
dtf.fit(x.iloc[:,:4], y)

DecisionTreeClassifier()

In [29]:
xinput = np.array([2,2,1,1])

In [30]:
y_pred = dtf.predict([xinput])

D:\anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [31]:
y_pred

array(['yes'], dtype=object)